body
{
    margin: 0px;
    background-color: #43291F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameName
{
    color: #87C38F;
    margin-top: 5vh;
    margin-bottom:5vh;
}

#content-box
{
    width: 70vh;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation: none;
}

#main-box
{
    width: 47vh;
    height: 47vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#reset
{
    background-color: #DA2C38;
    color: white;
    font-size: 1.5vh;
    font-family: Arial, Helvetica, sans-serif;
    height: 4vh;
    width: 8vh;
    border-radius: 1.2vh;
    border: 0px;
}

.inner-box
{
    background-color: #F4F0BB;
    border-radius: 15%;
    font-size: 8vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 15vh;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

#winningHeading
{
    font-size: 15vh;
    color: #F4F0BB;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-top: 35vh;
}

#replay
{
    background-color: #DA2C38;
    color: white;
    font-size: 1.2vh;
    font-family: Arial, Helvetica, sans-serif;
    height: 5vh;
    width: 8vh;
    border-radius: 1vh;
    border: 0px;
    margin-bottom: 40vh;
    margin-top: 5vh;
}

.hide
{
    display: none;
}

.inner-box:hover
{
    transform: scale(1.1, 1.1);
    border: 0.5vh solid black;
}
